
body {
    margin: 0;
    padding: 0;
    background-color: black; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#dice {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

#dice img {
    width: 100px;
    height: 100px;
}
